*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: #000000;
}

h3 {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-inline: auto;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    color: #FF7F50;
    text-align: center;
    box-shadow: 0 0 10px #F0FFF0;
}
#main {
    display: flex;
    justify-content:center;
    align-items:center;    
}
#poster{
    margin-right:30px;
    margin-bottom: 30px;
}
#info{
    width: 800px;
    justify-content:center;
}
#image {
    width: 500px;
    height: 700px;
    border: 8px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px #F0FFF0;
    background-size:cover;
}
h2 {
    color: #FF7F50;
    font-size: 32pt;
    margin-bottom: 10px;
}
label {
    color: #F0FFFF;
    font-size: 14pt;
    margin-bottom: 5px;
}
#create-label {
    color: #F0FFFF;
    font-size: 22pt;
    margin-bottom: 5px;
}
p {
    color: #A52A2A;
    font-size: 20pt;
}
#create {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-inline: auto;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    color: #FF7F50;
    text-align: center;
    box-shadow: 0 0 10px #F0FFF0;
    font-size: 18pt;
    font-weight:bold;
}
#header-container {
    display: flex;
    align-items: center; 
    margin-bottom: 50px;
}
a {
    font-size: 16pt;
    text-decoration: none;
    color: #F0FFFF;
}
    a:hover {
        color: #A52A2A;
    }
hr {
    border: none; 
    border-top: 2px solid #FFFFFF;
}
#details {
    width: 650px;
    height: 870px;
    border: 8px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px #F0FFF0;
    background-size: cover;
    margin-top:5px;
}
#button {
    margin-top: 5px;
    background-color: #A52A2A;
    color: #F0FFFF;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #F0FFF0;
    background-size: cover;
}